@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: sandybrown;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.main-cup {
  text-align: center;
}

.main-cup .cup {
  position: relative;
  background-color: #fff;
  height: 400px;
  width: 175px;
  margin: 0 auto 2rem auto;
  border: 4px rgb(51, 113, 228) solid;
  border-radius: 0 0 50px 50px;
}

.main-cup .water {
  background-color: rgba(51, 113, 228, 0.685);
  height: 101%;
  width: 175px;
  position: absolute;
  bottom: 0;
  left: -5px;
  right: 0;
  border-radius: 0 0 45px 45px;
  z-index: 2;
  transition: height 0.5s;
}

.remaining {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remaining h3,
.remaining p {
  margin: 0;
  z-index: 100;
}

.smaller-cups {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cups {
  background-color: rgb(51, 113, 228);
  margin: 1rem;
  word-wrap: break-word;
  height: 100px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px rgb(51, 113, 228) solid;
  border-radius: 0 0 18px 18px;
  cursor: pointer;
}
