@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: salmon;
  font-family: "Muli", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choices {
  max-width: 675px;
}

.choice {
  background-color: brown;
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.focus {
  background-color: lightseagreen;
}
