@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 8rem;
  height: 4rem;
  margin: 1rem;
  background-color: crimson;
  border: none;
  cursor: pointer;
}
